  <div class="top-bar">
    <img class="header-icon" src="assets/images/music-35-512.png" alt="">
    <span class="header-text">Speech-to-Text App with DeepSpeech</span>
    <span class="navigation"><a [routerLink]="['/stream']" routerLinkActive="active-link"><span class="router-link-text">Streaming</span> </a> <a [routerLink]="['/recorder']" routerLinkActive="active-link"><span class="router-link-text">Recording</span></a></span>
    <!-- <div>An example of live streaming to a node.js STT server using MediaStreamAPI, Websockets and Deepspeech</div> -->
  </div>
  
  
  <section class="vocab-section">
    <div class="lm-selection-container">
      <h3>Language Model:</h3>
      <span class="lm-choice" (click)="audioService.setLanguageModelType('none')" [class.isActive]="(audioService.getLanguageModelType() | async) == 'none'">None</span>
      <span class="lm-choice" (click)="audioService.setLanguageModelType('default')" [class.isActive]="(audioService.getLanguageModelType() | async) == 'default'">Default</span>
      <span class="lm-choice" (click)="audioService.setLanguageModelType('cocktail_modified')" [class.isActive]="(audioService.getLanguageModelType() | async) == 'cocktail_modified'">Cocktail</span>
    </div>

    <div *ngIf="(audioService.getLanguageModelType() | async) != 'none'">
      No language model is loaded. The output will purely be the the decision of the acoustic model
    </div>

    <div *ngIf="(audioService.getLanguageModelType() | async) != 'cocktail_modified'">
      The default Language model only contains the top 500k words from the text the Acoustic model was trained on. 
    </div>

    <div class="cocktailLM" *ngIf="(audioService.getLanguageModelType() | async) == 'cocktail_modified'">
      <div class="subtitle">The loaded Language Model is a custom model containing the words below. <br>Clicking on a vocabulary will read it out loud in case you want to test the models accuracy with a computer generated voice.</div>
      <div class="vocabulary-list">
        <div class="vocabulary-list-item" *ngFor="let vocab of vocabulary" (click)="speakOneWord(vocab)">{{vocab}}</div>
      </div>
      
      <div>
        <div class="fake-button" (click)="speakWordsClicked()">{{isSpeaking? 'Stop': 'Start'}} speaking all words <i class="material-icons">{{isSpeaking? 'volume_up': 'volume_mute'}}</i></div>
      </div>
    </div>
  </section>

  <router-outlet></router-outlet>
  <div class="wave-background"></div>
