@import "../variables";

.lm-selection-container{
  display: flex;
  align-items: center;

  .lm-choice{
    margin-left: 16px;
    position: relative;
    padding: 8px;
    cursor: pointer;

    &.isActive{
      font-weight: bold;
      &:after{
        content: "";
        width: 100%;
        height: 3px;
        background: #5E5B52;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.top-bar {
  background : @mainColor;
  font-size  : 1.5em;
  font-family: "Roboto-Regular"; 
  display    : flex;
  align-items: center;

  .header-icon {
    width       : 60px;
    margin-right: 8px;
    padding: 16px 0 16px 16px;
  }

  .header-text{
    flex:1;
    padding: 16px 0 16px;
  }

  .navigation {
    display: flex;
    align-self: normal;
    align-items: normal;

    a {
      text-decoration: none;
      color: black;
      padding: 0 16px;
      display: flex;
      align-items: center;
      position: relative;

      &.active-link{
        &:after{
          content: "";
          width: 100%;
          height: 5px;
          background: #5E5B52;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}



.vocab-section{
  padding: 16px;

  .subtitle{
    margin-bottom: 16px;
  }
}

.fake-button{
  @fake-button-color: #cccccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: @fake-button-color;
  padding: 8px;
  margin: 8px 0;
  min-width: 216px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover{
    background: darken(@fake-button-color,15%);
  }

  i{
    margin-left: 8px;
  }
}

.vocabulary-list{
  display: flex;
  flex-wrap: wrap;

  .vocabulary-list-item{
    @vocabListItemColor: @mainColor;
    background: @vocabListItemColor;
    transition: background-color 200ms ease-in-out;
    padding: 8px;
    border-radius: 4px;
    margin: 4px 8px 4px 0;
    cursor: pointer;


    &::first-letter{
      text-transform: capitalize;
    }

    &:hover{
      background-color: darken(@mainColor, 15%);
    }

  }
}

.wave-background{
  width:100%;
  height: 300px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: url('../assets/images/wave_background.svg');
}