
<div class="app-component-wrapper">


    <section>
        <div class="recording-buttons">
            <div [class.inactive]="(recordingState$ | async) !=='inactive'" class="start round-btn" (pointerdown)="startRecording()" (pointerup)="stopRecording()">
              <i class="material-icons">mic</i>
            </div>
          </div>
    </section>

  
  <section>
    <div class="result-list">
      <h3>Results</h3>
      <ul>
        <li *ngFor="let result of results">{{result.transcription}}</li>
      </ul>
      <div *ngIf="results.length > 0" class="resetResults" (click)="resetResults()">
        <i class="material-icons">clear</i>
        <span>Clear results</span>
      </div>
    </div>
  </section>
  

</div>