@import '../../variables.less';

.app-component-wrapper{
    padding: 16px;
  }
  
  section{
    &:not(:first-child){
      margin: 16px 0;
      padding-top: 16px;
      border-top: 1px solid #ccc;
    }
  }
  
  .recording-buttons{
    display: flex;
    align-items: center;
  
    .round-btn{
      cursor: pointer;
      padding: 16px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
  
      &.start{
        background: #98c134;
      }
      
      &.stop{
        background: #e4692f;
      }
  
      &.inactive{
        cursor: not-allowed;
        filter: grayscale(1);
        opacity: 0.6;
      }  
    }
  }
  
  .resetResults{
    padding: 8px;
    background-color: #dadada;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
  
    &:hover{
      background-color: darken(#dadada, 15%);
    }
  }
  
  .vocab-section{
    .subtitle{
      margin-bottom: 16px;
    }
  }
  
  .fake-button{
    @fake-button-color: #cccccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: @fake-button-color;
    padding: 8px;
    margin: 8px 0;
    min-width: 216px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
  
    &:hover{
      background: darken(@fake-button-color,15%);
    }
  
    i{
      margin-left: 8px;
    }
  }
  
  .vocabulary-list{
    display: flex;
    flex-wrap: wrap;
  
    .vocabulary-list-item{
      @vocabListItemColor: @mainColor;
      background: @vocabListItemColor;
      transition: background-color 200ms ease-in-out;
      padding: 8px;
      border-radius: 4px;
      margin: 4px 8px 4px 0;
      opacity: 0.8;
      cursor: not-allowed;
  
  
      &::first-letter{
        text-transform: capitalize;
      }
  
  
    }
  }
  
  .result-list{
    margin-bottom: 48px;
  }