@import '../../variables.less';

.app-component-wrapper{
    padding: 16px;
  }
  
  section{
    &:not(:first-child){
      margin: 16px 0;
      padding-top: 16px;
      border-top: 1px solid #ccc;
    }
  }
  
  .recording-buttons{
    display: flex;
    align-items: center;
  
    .round-btn{
      cursor: pointer;
      padding: 16px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
  
      &.start{
        background: #98c134;
      }
      
      &.stop{
        background: #e4692f;
      }
  
      &.inactive{
        cursor: not-allowed;
        filter: grayscale(1);
        opacity: 0.6;
      }  
    }
  }
  
  .resetResults{
    padding: 8px;
    background-color: #dadada;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
  
    &:hover{
      background-color: darken(#dadada, 15%);
    }
  }
  
  
  .result-list{
    margin-bottom: 48px;

    li.running{
      opacity: 0.5;
    }
  }