
  <div class="app-component-wrapper">


    <section>
        <div class="recording-buttons">
            <div [class.inactive]="(state$ | async) !=='inactive'" class="start round-btn" (click)="startRecording()">
              <i class="material-icons">mic</i>
            </div>
        
            <div [class.inactive]="(state$ | async) !=='recording'" class="stop round-btn" (click)="stopRecording()">
                <i class="material-icons">stop</i>
            </div>
        
            <div *ngIf="finalUrl">
                <audio *ngIf="finalUrl" [src]="finalUrl" controls></audio>
            </div>
        
          </div>
    </section>

  
  <section>
    <div class="result-list">
      <h3>Results</h3>
      <ul>
        <li [class.running]="!result.finished" *ngFor="let result of results">{{result.transcription}}</li>
      </ul>
      <div *ngIf="results.length > 0" class="resetResults" (click)="resetResults()">
        <i class="material-icons">clear</i>
        <span>Clear results</span>
      </div>
    </div>
  </section>
  

</div>